# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - name: Set up Git repository
        uses: actions/checkout@v2
        with:
          fetch-depth: 2
      - uses: tawalaya/latex-diff-action@v1
        with:
          root_file: lease.tex
          compile_diff: ${{github.event == 'pull_request'}}
      - uses: actions/upload-artifact@v2
        with:
          name: PDF
          path: |
            lease.pdf
            diff.pdf
        

